<footer class="main-footer">
    <div class="container">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.0.0
        </div>
        <strong>&copy; 2019 <a href="/Forum/Index">学习坊</a></strong>
        <br />
        <a style="font-size:13px;color:#939393;" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=45048102000066">
            <img src="~/images/beian.png" asp-append-version="true" />
            桂公网安备 45048102000066号
        </a>|
        <a style="font-size:13px;color:#939393;" target="_blank" href="http://www.beian.miit.gov.cn/">
            桂ICP备19007772号
        </a>
    </div>
</footer>
