<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">


                @*<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>*@


                <mini-profiler />


                <a href="/Forum/Index" class="navbar-brand"><b>学习</b>坊</a>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>


            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/Forum/Index">论坛主页<span class="sr-only">(current)</span></a></li>
                    <li><a href="/Teacher/Index">教师后台</a></li>
                    <li><a href="/Student/Index">学生</a></li>
                    @*<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </li>*@
                </ul>
                @*<form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
                    </div>
                </form>*@
            </div>
            <!-- /.navbar-collapse -->
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    @{
                        var hadLogin = false;
                        do
                        {
                            if (! User.Identity.IsAuthenticated)
                            {
                                break;
                            }

                            var user = await UserClient.FindByUserNameAsync(new UserNameReq { UserName = User?.Identity?.Name });
                            if (user == null)
                            {
                                break;
                            }

                            <!-- User Account Menu -->
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="@*@user.Photo*@" style="width:30px;height:30px" class="user-image" alt="User Image">
                                    <span class="hidden-xs">@user.Name</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- The user image in the menu -->
                                    <li class="user-header">
                                        <img src="@*@user.Photo*@" class="img-circle" alt="User Image">

                                        <p>
                                            @*@{var roles = string.Join("|", UserService.GetUserRoles(UserService.GetCurUserId())); }
                                            @roles*@
                                        </p>
                                    </li>

                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a asp-page="/Account/UpdateInfo" class="btn btn-default btn-flat">修改信息</a>
                                        </div>
                                        <div class="pull-right">
                                            <a asp-page="/Account/Login" asp-page-handler="Logout" class="btn btn-default btn-flat">注销</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            hadLogin = true;
                        } while (false);

                        if (!hadLogin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Account/Register">注册</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Account/Login">登录</a>
                            </li>
                        }
                    }


                </ul>
            </div>
            <!-- /.navbar-custom-menu -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>