<footer class="border-top footer text-muted">
    <div class="container">
        <div class="row">
            <div class="col">
                Copyright &copy; 2019 - 学习坊 - <a asp-page="/Forum/Privacy">隐私政策</a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a style="font-size:13px;color:#939393;" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=45048102000066">
                    <img src="~/images/beian.png" asp-append-version="true" />
                    桂公网安备 45048102000066号&nbsp;|

                </a>
                <a style="font-size:13px;color:#939393;" target="_blank" href="http://www.beian.miit.gov.cn/">
                    桂ICP备19007772号
                </a>
            </div>
        </div>
    </div>
</footer>

