<a href="#" role="button" style="position:fixed;right:10px;bottom:70px" title="回到顶部">
    <i class="fa fa-angle-up fa-3x"></i>
</a>

<footer class="border-top footer text-muted">
    <div class="container">
        <a style="font-size:13px;color:#939393;" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=45048102000066">
            <img src="~/beian.png" asp-append-version="true" />
            桂公网安备 45048102000066号
        </a>|
        <a style="font-size:13px;color:#939393;" target="_blank" href="http://www.beian.miit.gov.cn/">
            桂ICP备19007772号
        </a>
    </div>
    @*<a class="ml-2 text-muted" asp-area="" asp-page="/Privacy">政策隐私</a>*@
</footer>