@page
@model Study.Website.Pages.Forum.PrivacyModel
@{
    ViewData["Title"] = "隐私政策";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Forum/Index">
                <svg t="1566801503379" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2624" width="16" height="16"><path d="M793.738198 503.746012c-7.948019 0-14.411221 6.463202-14.411221 14.411221l0 317.92077c0 34.936697-28.428469 63.365166-63.365166 63.365166L604.033601 899.44317 604.033601 678.821423c0-7.948019-6.441713-14.411221-14.388708-14.411221L432.278819 664.410202c-7.948019 0-14.411221 6.463202-14.411221 14.411221l0 220.62277L305.918923 899.444193c-34.936697 0-63.343677-28.428469-63.343677-63.365166l0-317.92077c0-7.948019-6.441713-14.411221-14.411221-14.411221-7.948019 0-14.389732 6.463202-14.389732 14.411221l0 317.92077c0 50.832735 41.334407 92.187609 92.14463 92.187609l410.04391 0c50.831712 0 92.187609-41.354873 92.187609-92.187609l0-317.92077C808.149419 510.209214 801.68724 503.746012 793.738198 503.746012zM575.233672 899.422703 446.69004 899.422703 446.69004 693.232644l128.543631 0L575.233672 899.422703z" p-id="2625"></path><path d="M936.103626 397.124669l-104.131639-75.069743c-13.625322-9.891278-25.590841-33.211403-25.590841-49.91483L806.381146 148.661831c0-29.367865-23.88806-53.255924-53.234435-53.255924L716.573747 95.405907c-29.324886 0-53.169967 23.88806-53.169967 53.255924l0 41.028439c0 5.284353-1.24434 7.642051-1.375324 7.838525-0.436952 0-2.925632-0.152473-7.380084-3.384074L546.978141 116.455315c-13.057387-9.476839-23.603581-17.118889-25.874297-18.865673-2.793626-2.4017-6.615675-4.0175-10.174734-3.886517-3.341095-0.196475-7.270591 1.440815-10.04375 3.842515-2.489704 1.920746-15.524578 11.376095-30.896684 22.534226L85.863065 397.124669c-11.529591 8.340969-19.10615 20.677948-21.376866 34.761712-2.270716 14.083763 1.070378 28.167526 9.345856 39.587624l14.629185 20.35049c9.825786 13.690814 25.52535 21.50785 43.037189 21.50785l0.021489 0c1.833765 0 3.711532-0.086981 5.567809-0.261966 2.532683-0.240477 4.956895-1.157359 7.031137-2.642177L510.950599 245.741867l366.897228 264.686335c2.073218 1.484817 4.498454 2.4017 7.030114 2.642177 1.877767 0.174985 3.734044 0.261966 5.590322 0.261966 17.577331 0 33.255405-7.839549 42.927695-21.48636l14.694677-20.35049C965.297528 447.651436 959.904705 414.30905 936.103626 397.124669zM924.74902 454.617082l-14.760169 20.459984c-4.149507 5.808286-10.961656 9.236362-18.778692 9.454326L519.510556 216.372979l-0.021489 0.021489c-4.825912-3.51608-12.314467-3.64604-17.315364 0.174985L130.778021 484.531392c-7.839549-0.217964-14.694677-3.64604-18.931165-9.54233l-14.629185-20.394493c-3.799536-5.218862-5.328355-11.659551-4.279467-18.122753 1.025353-6.506181 4.498454-12.161994 9.781784-15.96153l384.16859-277.088806c11.311627-8.209986 18.888186-13.712303 24.040533-17.554818 4.38896 3.231601 10.524704 7.642051 19.126616 13.908778l107.757213 77.776388c8.123005 5.808286 16.266475 8.79941 24.215518 8.79941 15.023158 0 30.176276-11.332093 30.176276-36.660968l0-41.028439c0-13.471826 10.939143-24.433482 24.367991-24.433482l36.572964 0c13.45136 0 24.433482 10.961656 24.433482 24.433482l0 123.478266c0 25.852808 16.463973 58.037834 37.513382 73.257467L919.247726 420.510286C930.164357 428.392814 932.610058 443.699428 924.74902 454.617082z" p-id="2626"></path></svg>
                学习坊
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">隐私政策</li>
    </ol>
</nav>

<box title="隐私政策声明">
    <p>
        我们认真保护您的网上隐私。对我们来说，保护您的个人隐私十分重要，我们在设计本网站时已尽力将保护您的个人隐私问题考虑在内。
        有关此声明的任何疑问可通过客户服务信箱向网站管理员询问，否则我们会视同您已经了解并接受了此声明，我们将在七天之内尽力回答您的疑问。
    </p>
    <p>
        我们保证：
    </p>

    <p>1. 我们不公开您在本网站内的个人资料。</p>

    <p>
        2. 我们不使用任何您在本网站的个人个人信息或网上浏览的信息，也不将其告诉其它人。
    </p>

    <p>
        3. 我们不出售您的注册信息（姓名、电话、地址等等)。
    </p>

    <p>
        4. 我们使用安全的技术、隐私保护的管理手段，以保护您的个人隐私。
    </p>
</box>

<box title="发布文章注意事项" class-name="my-3">
    <p>
        用户对其自行发表、上传或传送的内容负全部责任，所有用户不得在本论坛任何页面发布、转载、
        传送含有下列内容之一的信息，否则本论坛有权自行处理并不通知用户：<br />
        1、违反宪法确定的基本原则的；<br />
        2、危害国家安全，泄漏国家机密，颠覆国家政权，破坏国家统一的；<br />
        3、损害国家荣誉和利益的；<br />
        4、煽动民族仇恨、民族歧视，破坏民族团结的；<br />
        5、破坏国家宗教政策，宣扬邪教和封建迷信的；<br />
        6、 散布谣言，扰乱社会秩序，破坏社会稳定的；<br />
        7、散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；<br />
        8、侮辱或者诽谤他人，侵害他人合法权益的；<br />
        9、煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；<br />
        10、以非法民间组织名义活动的；<br />
        11、含有法律、行政法规禁止的其他内容的。
    </p>
</box>

