@page
@model Study.Website.Pages.Teacher.Classes.SchoolClassesModel
@{
    ViewData["Title"] = "全校班级";
}



<div id="app">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Teacher/Index">主页</a></li>
            <li class="breadcrumb-item active" aria-current="page">全校班级</li>
        </ol>
    </nav>


    <template>
        <el-card class="box-card">
            <el-page-header @@back="goBack" title="回到我的班级" content="全校班级">
            </el-page-header>
            <hr />
            <div class="row @*justify-content-end*@">
                <el-button onclick="window.location.reload()"><i class="el-icon-refresh-left"></i>&nbsp;刷新</el-button>
                <div class="col-5">
                    <el-input placeholder="请输入班级名称搜索"
                              v-model="search"
                              clearable>
                    </el-input>
                </div>
                <div class="col-auto">
                    <el-button @@click="searchClick"><i class="el-icon-search"></i>&nbsp;搜索</el-button>
                </div>
            </div>
            <hr />


            <el-table :data="tableData"
                      v-loading="loading"
                      style="width: 100%">

                <el-table-column label="班级名称"
                                 width="200">
                    <template slot-scope="scope">
                        <el-popover trigger="hover" placement="top">
                            <p>班级id: {{ scope.row.id }}</p>
                            <p>描述: {{ scope.row.desc }}</p>
                            <div slot="reference" class="name-wrapper">
                                <el-tag size="medium">{{ scope.row.name }}</el-tag>
                            </div>
                        </el-popover>
                    </template>
                </el-table-column>


                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button size="mini"
                                   @@click="handleEdit(scope.$index, scope.row.id)">查看班级下的学生</el-button>

                        <template v-if="scope.row.isAdded">
                            <el-button size="mini"
                                       type="success">已经添加到我的班级列表</el-button>
                        </template>
                        <template v-else>
                            <el-button size="mini"
                                       type="primary"
                                       @@click="addClassFunc(scope.row.id)">添加到我的班级</el-button>
                        </template>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>

    </template>

    <el-pagination @@current-change="handleCurrentChange"
                   layout="total, prev, pager, next"
                   :current-page="pageIndex"
                   :page-size="pageSize"
                   :total="total">
    </el-pagination>
</div>


@section Scripts{
    <script>
        var router = new VueRouter();

        var vue = new Vue({
            router,
            el: "#app",
            data: {
                tableData: [],
                loading: true,
                total: 0,
                pageSize: 0,
                pageIndex: 1,
                search: ''
            },
            created: function () {
                this.pageIndex = this.getQuery().pageIndex
                this.loadClasses()
            },
            methods: {
                goBack: function () {
                    window.location.href = "/Teacher/Classes/List"
                },
                setQuery: function (query) {
                    router.push({ path: '', query: query })
                },
                getQuery: function () {
                    return this.$route.query
                },


                loadClasses: function () {
                    var t = this;
                    t.loading = true;
                    axios.get("?handler=LoadSchoolClasses&pageIndex=" + this.pageIndex + "&name=" + this.search).then(function (res) {
                        t.loading = false;

                        t.tableData = res.data.rows;
                        t.total = res.data.total
                        t.pageSize = res.data.pageSize
                        console.log(t.tableData)
                    }).catch(function (err) {
                        t.loading = false;
                        swal("发生错误：" + err);
                    });
                },

                handleEdit(index, id) {
                    window.location.href = "/Teacher/Classes/StudentsOfClass/" + id
                },

                //当前页面发生变化时
                handleCurrentChange: function (pageIndex) {
                    this.pageIndex = pageIndex
                    this.setQuery({ pageIndex: pageIndex })
                    this.loadClasses();
                },

                //查询
                searchClick: function () {
                    this.pageIndex = 1
                    this.loadClasses()
                },

                //添加班级
                addClassFunc(id) {
                    var t = this
                    console.log(id)
                    axios.post("?handler=AddTeacherClass",
                        {
                            TeacherId: '@Model.CurUserId',
                            ClassId: id
                        })
                        .then(function (res) {
                            t.loadClasses()
                            t.$message({
                                message: '成功添加班级',
                                type: 'success'
                            });
                        })
                        .catch(function (err) {
                            t.$message.error(JSON.stringify(err.response.data));
                        })
                }
            }
        })
    </script>
}
