@page
@model Study.Website.Pages.Student.IndexModel
@{
    ViewData["Title"] = "我的作业列表";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Forum/Index">
                <svg t="1566801503379" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2624" width="16" height="16"><path d="M793.738198 503.746012c-7.948019 0-14.411221 6.463202-14.411221 14.411221l0 317.92077c0 34.936697-28.428469 63.365166-63.365166 63.365166L604.033601 899.44317 604.033601 678.821423c0-7.948019-6.441713-14.411221-14.388708-14.411221L432.278819 664.410202c-7.948019 0-14.411221 6.463202-14.411221 14.411221l0 220.62277L305.918923 899.444193c-34.936697 0-63.343677-28.428469-63.343677-63.365166l0-317.92077c0-7.948019-6.441713-14.411221-14.411221-14.411221-7.948019 0-14.389732 6.463202-14.389732 14.411221l0 317.92077c0 50.832735 41.334407 92.187609 92.14463 92.187609l410.04391 0c50.831712 0 92.187609-41.354873 92.187609-92.187609l0-317.92077C808.149419 510.209214 801.68724 503.746012 793.738198 503.746012zM575.233672 899.422703 446.69004 899.422703 446.69004 693.232644l128.543631 0L575.233672 899.422703z" p-id="2625"></path><path d="M936.103626 397.124669l-104.131639-75.069743c-13.625322-9.891278-25.590841-33.211403-25.590841-49.91483L806.381146 148.661831c0-29.367865-23.88806-53.255924-53.234435-53.255924L716.573747 95.405907c-29.324886 0-53.169967 23.88806-53.169967 53.255924l0 41.028439c0 5.284353-1.24434 7.642051-1.375324 7.838525-0.436952 0-2.925632-0.152473-7.380084-3.384074L546.978141 116.455315c-13.057387-9.476839-23.603581-17.118889-25.874297-18.865673-2.793626-2.4017-6.615675-4.0175-10.174734-3.886517-3.341095-0.196475-7.270591 1.440815-10.04375 3.842515-2.489704 1.920746-15.524578 11.376095-30.896684 22.534226L85.863065 397.124669c-11.529591 8.340969-19.10615 20.677948-21.376866 34.761712-2.270716 14.083763 1.070378 28.167526 9.345856 39.587624l14.629185 20.35049c9.825786 13.690814 25.52535 21.50785 43.037189 21.50785l0.021489 0c1.833765 0 3.711532-0.086981 5.567809-0.261966 2.532683-0.240477 4.956895-1.157359 7.031137-2.642177L510.950599 245.741867l366.897228 264.686335c2.073218 1.484817 4.498454 2.4017 7.030114 2.642177 1.877767 0.174985 3.734044 0.261966 5.590322 0.261966 17.577331 0 33.255405-7.839549 42.927695-21.48636l14.694677-20.35049C965.297528 447.651436 959.904705 414.30905 936.103626 397.124669zM924.74902 454.617082l-14.760169 20.459984c-4.149507 5.808286-10.961656 9.236362-18.778692 9.454326L519.510556 216.372979l-0.021489 0.021489c-4.825912-3.51608-12.314467-3.64604-17.315364 0.174985L130.778021 484.531392c-7.839549-0.217964-14.694677-3.64604-18.931165-9.54233l-14.629185-20.394493c-3.799536-5.218862-5.328355-11.659551-4.279467-18.122753 1.025353-6.506181 4.498454-12.161994 9.781784-15.96153l384.16859-277.088806c11.311627-8.209986 18.888186-13.712303 24.040533-17.554818 4.38896 3.231601 10.524704 7.642051 19.126616 13.908778l107.757213 77.776388c8.123005 5.808286 16.266475 8.79941 24.215518 8.79941 15.023158 0 30.176276-11.332093 30.176276-36.660968l0-41.028439c0-13.471826 10.939143-24.433482 24.367991-24.433482l36.572964 0c13.45136 0 24.433482 10.961656 24.433482 24.433482l0 123.478266c0 25.852808 16.463973 58.037834 37.513382 73.257467L919.247726 420.510286C930.164357 428.392814 932.610058 443.699428 924.74902 454.617082z" p-id="2626"></path></svg>
                学习坊
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">学生后台</li>
    </ol>
</nav>

<box>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">未完成 @(Model.UnCompletedTaskList.Count())</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">已完成@(Model.CompletedTaskList.Count())</a>
        </li>
        @*<li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
            </li>*@
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row">
                @foreach (var studentTask in Model.UnCompletedTaskList)
                {
                    var taskInfo = await TaskService.GetTeacherTaskByIdAsync(studentTask.TaskId);
                    if (taskInfo == null)
                    {
                        continue;
                    }

                    var courseInfo = await CourseService.GetCourseByIdAsync(taskInfo.CourseId);
                    if (courseInfo == null)
                    {
                        continue;
                    }

                    var teacherInfo = await UserClient.FindByIdAsync(new UserIdReq { UserId = taskInfo.TeacherId });
                    if (teacherInfo == null)
                    {
                        continue;
                    }

                    <div class="col-auto">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">作业名称：@courseInfo.Name</h5>
                                <h6 class="card-subtitle mb-2 text-muted">课程名称：@taskInfo.TaskName</h6>
                                <p class="card-text">
                                    教师：@teacherInfo.Name<br />
                                    开始时间： @Utility.DateTimeFormat.ToLocalString(taskInfo.TaskStartTime)<br />
                                    结束时间：@Utility.DateTimeFormat.ToLocalString(taskInfo.TaskEndTime)<br />

                                    @if (DateTime.Now < taskInfo.TaskStartTime || DateTime.Now > taskInfo.TaskEndTime)
                                    {
                                        <button class="btn btn-sm btn-dark">不在答题时间段，不能答题</button>
                                    }
                                    else
                                    {
                                        var date = taskInfo.TaskEndTime - DateTimeOffset.Now;
                                        var text = $"【{date.Days}天{date.Hours}时{date.Minutes}分】";
                                        <span>距离结束时间： @text</span>
                                        <a href="/Student/TaskDetail/@taskInfo.Id" class="btn btn-sm btn-primary">开启答题</a>
                                    }
                                </p>
                                @*<a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>*@
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>

        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <label class="text-red text-danger">教师未批改且在答题时间内可以无限次修改您的答案</label>
            <div class="row">
                @foreach (var studentTask in Model.CompletedTaskList.OrderByDescending(e => e.DateTime))
                {
                    var taskInfo = await TaskService.GetTeacherTaskByIdAsync(studentTask.TaskId);
                    if (taskInfo == null)
                    {
                        continue;
                    }

                    var courseInfo = await CourseService.GetCourseByIdAsync(taskInfo.CourseId);
                    if (courseInfo == null)
                    {
                        continue;
                    }


                    var teacherInfo = await UserClient.FindByIdAsync(new UserIdReq { UserId = taskInfo.TeacherId });
                    if (teacherInfo == null)
                    {
                        continue;
                    }

                    <div class="col-auto">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">作业名称：@courseInfo.Name</h5>
                                <h6 class="card-subtitle mb-2 text-muted">课程名称：@taskInfo.TaskName</h6>
                                <p class="card-text">
                                    教师：@teacherInfo.Name<br />
                                    开始时间： @Utility.DateTimeFormat.ToLocalString(taskInfo.TaskStartTime)<br />
                                    结束时间：@Utility.DateTimeFormat.ToLocalString(taskInfo.TaskEndTime)<br />
                                    @if (studentTask.IsTeacherModified)
                                    {
                                        var intGrade = (int)studentTask.Grade;
                                        <span>成绩：@(intGrade)</span><br />
                                        <a href="/Student/TaskDetail/@taskInfo.Id" class="btn btn-sm btn-primary">查看</a>
                                    }

                                    @if (DateTime.Now < taskInfo.TaskStartTime || DateTime.Now > taskInfo.TaskEndTime)
                                    {
                                        @*<td><a href="#" class="btn btn-danger disabled">不在答题时间段，禁止答题</a></td>*@
                                        if (studentTask.IsAlreadyAnswered && !studentTask.IsTeacherModified)
                                        {
                                            <a href="/Student/TaskDetail/@taskInfo.Id" class="btn btn-sm btn-primary">查看</a>
                                        }
                                    }
                                    else
                                    {
                                        if (!studentTask.IsTeacherModified)
                                        {
                                            <a href="/Student/TaskDetail/@taskInfo.Id" class="btn btn-sm btn-primary">修改</a>
                                        }
                                    }
                                </p>
                                @*<a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>*@
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
    </div>
</box>




@section Scripts{
    <script>
                                            //$(function () {
                                            //    $('#table1').DataTable()
                                            //    $('#table2').DataTable()
                                            //})
    </script>
}